  <% provide(:title, 'About') %>
  <div class="container">
    <address>
      <strong class="text-info">Institute of Physics <br>
        Kazan Federal University
      </strong><br>
      16a Kremlyovskaya St., Kazan<br>
    </address>
    <div class="row col-md-6">
    <address>

      <strong>Khutorova Olga Germanovna</strong><br>
      <em>professor, doctor of science, professor,<br>
        Head University / Institute of Physics /<br>
        Отделение радиофизики и информационных систем /<br>
        Department of Radioastronomy﻿ (main)<br>
      </em>
      <a href="mailto:#">Olga.Khutorova@kpfu.ru</a>
    </address>

    <address>
      <strong>Teptin German Mihajlovich</strong><br>
      <em>professor, doctor of science, professor,<br>
        Head University / Institute of Physics /<br>
        Отделение радиофизики и информационных систем /<br>
        Department of Radioastronomy﻿ (main)<br>
      </em>
    </address>
    </div>

    <div class="row col-md-6">
    <address>
      <strong>Dementyev Vitaliy Vladimirovich</strong><br>
      <em>Head University / Institute of Physics,<br>
        Отделение радиофизики и информационных систем /<br>
        Department of Radioastronomy<br>
        Full-time, course 3<br>
      </em>
      <a href="mailto:#">ViVDementev@kpfu.ru</a>
    </address>
      <address>
        <strong>Zhih Sergej Sergeevich</strong><br>
        <em>Head University / Institute of Physics,<br>
          Отделение радиофизики и информационных систем /<br>
          Department of Radioastronomy<br>
          Full-time, course 2<br>
        </em>
        <a href="mailto:#">spike.09@ya.ru</a>
      </address>
    </div>
  </div>