    <% provide(:title, 'Home') %>
    <div class="container">
    <div class="jumbotron">
      <div><h2 align="center">Welcome to the website of the Department of Radioastronomy</h2></div>
      <p>Satellite navigation systems is a monitoring technology, which is significantly increasing the atmospheric information.</p>
      <p>The total zenith tropospheric delay (ZTD) is an important parameter of the atmosphere and directly or indirectly reflects the weather processes and variations. </p>
      <p>We present a hardware and software complex for continuous measurements and prediction of atmospheric thermodynamics and radiowaves refraction index. </p>
      <p>
        <a class="btn btn-block btn-primary center-block" role="button" href="http://kpfu.ru/physics/struktura/kafedry/kafedra-radioastronomii">
View page on the website of KFU <i class="fa fa-external-link"></i>
        </a>
      </p>
    </div>
  </div>