<!-- <h1>StaticPages#index</h1>
<p>Find me in app/views/static_pages/index.html.erb</p>
 -->

 <!DOCTYPE html>
<head>
<style>
  </style>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Department of Radioastronomy</title>

  <link href="css/bootstrap.css" rel="stylesheet">
  <!-- <link href="css/bootstrap-theme.css" rel="stylesheet"> -->
  <link href="css/font-awesome.css" rel="stylesheet">
  <link href="css/navbar-fixed-top.css" rel="stylesheet">
</head>

<body>
<!-- Fixed navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><i class="fa fa-university fa-lg"></i> Radioastronomy</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="index.html"><i class="fa fa-home fa-lg"></i> Home</a></li>          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-rocket fa-lg"></i>  GPS <b class="fa fa-chevron-down"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header"><i class="fa fa-database"></i>  Database</li>
                <li><a href="gps.html">GPS-data</a></li>
                <li><a href="rinex.html">RINEX-data</a></li>
                <li class="divider"></li>
                <li><a href="#">TEC</a></li>
                <li><a href="#">ZTD</a></li>
              </ul>
            </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cloud fa-lg"></i>  Meteostation <b class="fa fa-chevron-down"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header"><i class="fa fa-database"></i>  Database</li>
                <li><a href="weather.html">Data from Institute of Physics</a></li>
                <li class="divider"></li>
                <li><a href="tables.html"><i class="fa fa-table"></i> Tables</a></li>
                <li><a href="graphics.html"><i class="fa fa-area-chart"></i>  Graphics</a></li>
              </ul>
            </li>
            <li><a href="about.html"><i class="fa fa-info-circle fa-lg"></i>  About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
  </nav>
    
    
    
  <div class="container">
    <div class="jumbotron">
      <div><h2 align="center">Welcome to the website of the Department of Radioastronomy</h2></div>
      <p>Satellite navigation systems is a monitoring technology, which is significantly increasing the atmospheric information.</p>
      <p>The total zenith tropospheric delay (ZTD) is an important parameter of the atmosphere and directly or indirectly reflects the weather processes and variations. </p>
      <p>We present a hardware and software complex for continuous measurements and prediction of atmospheric thermodynamics and radiowaves refraction index. </p>
      <p>
        <a class="btn btn-block btn-primary center-block" role="button" href="http://kpfu.ru/physics/struktura/kafedry/kafedra-radioastronomii">
View page on the website of KFU <i class="fa fa-external-link"></i>
        </a>
      </p>
    </div>
  </div>


</body>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.js"></script>
</html>