<% provide(:title, 'Tables') %>
          <div class="row">
    <div class="col-md-6" style="height:130px;">
        <div class="form-group">
            <div class='input-group date' id='datetimepicker8'>
                <input type='text' class="form-control" placeholder="Select the day/month/year:"/>
                <span class="input-group-addon">
                    <span class="fa fa-calendar">
                    </span>
                </span>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker8').datepicker({
                 format:'dd.mm.yy'
            });
        });
    </script>
</div>

    <!-- Table for data from meteostation -->
    <div class="row-fluid">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>№</th>
                <th>Station</th>
                <th>Date</th>
                <th>Time</th>
                <th>Temperature ("C)</th>
                <th>Humidity (%)</th>
                <th>Pressure (mmHg)</th>
                <th>Refractive index</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>